<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issue Table</title>
</head>
<body>
<h1>Таблица выдачи книг</h1>
<table>
  <tr>
    <th>Книга</th>
    <th>Читатель</th>
    <th>Когда книга взята</th>
    <th>Когда книга возвращена</th>
  </tr>

    <tr th:each="issue : ${issue}">
        <td th:text="${issueService.getIssueBook().getName()}"></td>
        <td th:text="${issueService.getIssueReader().getName()}"></td>
        <td th:text="${issue.getIssueAt()}"></td>
        <td th:text="${issue.getReturnedAt()}"></td>
    </tr>
</table>

</body>
</html>


